<aside>
  <div class="dash-header">
    <h2>User Admin</h2>
  </div>
  <div class="main-menu">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/user-dashboard">
          <span class="material-symbols-outlined">home</span>
          <span class="ml-2">List User</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/add-user">
          <span class="material-symbols-outlined">person_add</span>
          <span class="ml-2">Add User</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
