<main @myInsertRemoveTrigger>
  <div style="height: 10vh; margin-top: 30px">
    <div style="float: left">
      <h2>User Table</h2>
    </div>
    <div style="float: right">
      <a routerLink="add-user">
        <button type="button" class="btn-primary">Add User</button>
      </a>
    </div>
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="fetchUserData" class="main-container">
    <div class="main-container__loader">
      <i class="fa fa-spin fa-spinner"></i>
    </div>
  </div>
  <div *ngIf="!fetchUserData">
    <div *ngIf="totalPageCount !== 0" class="main-container">
      <div>
        <input
          type="text"
          [(ngModel)]="searchInput"
          (input)="filterUsers()"
          placeholder="Search by name or email"
        />
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let users of filteredUsers
                  | paginate
                    : {
                        id: 'users',
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalPageCount
                      };
                let _index = index
              "
            >
              <th scope="row">{{ _index + 1 }}</th>
              <td>{{ users.name.firstname }} {{ users.name.lastname }}</td>
              <td>{{ users.email }}</td>
              <td></td>
              <td>
                <button
                  (click)="editSelectedUserId(users.id)"
                  type="button"
                  class="btn-primary"
                >
                  Edit User
                </button>
                <button
                  (click)="deleteUserById(users.id)"
                  type="button"
                  class="btn-danger"
                >
                  <i
                    *ngIf="userDeletionInProgress(users.id)"
                    class="fa fa-spin fa-spinner"
                  ></i>
                  Delete User
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="totalPageCount !== 0" class="has-text-centered">
      <pagination-controls
        id="users"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
    <div class="error-container" *ngIf="totalPageCount === 0">
      <div style="width: 100%">
        <img
          src="../../assets/undraw_dreamer_re_9tua.svg"
          alt="undraw_dreamer_re_9tua"
          width="300px"
        />
      </div>
    </div>
  </div>
</main>
